<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <title>Short Description about API</title>
</head>
<body>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <blockquote class="blockquote">
            <p class="mb-0">In order to send or receive information we can make a specific “call” or “request”. It can also be used to update or delete data. There are 4 API methods which are GET, POST, PUT, DELETE. Below I have shown how I have used these API methods for my own data;
            </p>
        </blockquote>
    <br>
    <p class="lead"><b>GET:</b> Gathers information. ("books/all" is to get all books information and "books/id" is to get a single book's data by typing an id which we want to receive.)
    <br><b>POST:</b> Sends data to the API server by creating new data. ("books/add", by this post request we create a new data by providing all of the information to body data.)
    <br><b>PUT:</b> Updates pieces of data. ("books/id", we can change a single data by providing an id to put request which we want to update)
    <br><b>DELETE:</b> Deletes pieces of data ("books/id" we can delete an unwanted book that we have created before by typing the id of that book.)</p>
</div>
</div>
</body>
</html>